.btn_type_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_type_icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.btn_type_classic {
  .btn_type_flex();
  .text_font_hammersmith();
  .text_em-size(16);
  border-width: 1px;
  border-style: solid;
  height: 40px;
  border-radius: 2px;
  padding: 10px 20px;
}

.btn_theme_classic-emerald {
  color: @emerald;
  border-color: @emerald;
}


.btn_type_block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_theme_white.btn_type_block-icon {
  background-color: rgba(255, 255, 255, 0.5);
}