
.about__wrap {
  display: grid;
  grid-template-columns: minmax(300px, 380px) minmax(540px, 1fr);
  padding-top: 70px;
  padding-bottom: 70px;
  grid-gap: 20px;
}


@import "about_elem";
@import "about_mod";