
.person-popup {
  padding: 20px 20px 35px;
  grid-gap: 20px;
  grid-template-areas:
    "head head"
    "img text";
  grid-template-columns: 200px 1fr;
}

@import "person-popup_elem";
@import "person-popup_mod";