.footer__top-section {
  grid-template-areas:
  'brand brand'
  'local share'
  ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: flex-start;
}

.footer__brand-block {
  grid-area: brand;
  grid-gap: 30px;
  justify-items: center;
}

.footer__section-title {
  height: 50px;
  display: flex;
  align-items: center;
}

.footer__location-block {
  grid-area: local;
  grid-gap: 20px;
  justify-items: flex-start;
}

.footer__share-block {
  grid-area: share;
  grid-gap: 20px;
  justify-items: flex-start;
}

.footer__share-block-wrap {
  grid-gap: 30px;
}

.footer__bottom-section {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  grid-gap: 30px;
}

@media only screen and (max-width: 600px) {
  .footer__top-section {
    grid-template-areas:
    'brand'
    'local'
    'share'
  ;
  grid-template-columns: 1fr;
  }

  .footer__about-text {
    text-align: center;
  }

  .footer__location-block {
    justify-items: center;
  }

  .footer__share-block {
    justify-items: center;
  }

  .footer__bottom-section {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
  }

  .footer__wrap {
    justify-items: center;
  }
}