

.popup {
  position: fixed;
  .absolut_position_coords(0,0,0,0);
  z-index: 1000;
  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 90px;
  background-color: rgba(0,0,0,0.7);
}


@import "popup_elem";
@import "popup_mod";