.popup_hide {
  .popupAnim(hide_popup, linear, forwards);
}

.popup_show {
  .popupAnim(show_popup, linear, forwards);
}

.popup__widget_type_classic {
  border-bottom: 5px solid;
  border-top: 5px solid;
}

.popup.theme_emerald {
  .popup__widget_type_classic {
    border-color: @emerald;
    background-color: white;
    color: @dark-purple;
  }
}



@show_popup: {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};
.createKeyframes(show_popup, @show_popup);

@hide_popup: {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.createKeyframes(hide_popup, @hide_popup);