
.text-block {
  display: grid;
  grid-gap: 20px;

  .text-block__title {
    .text_font_playfair-medium();
    .text_em-size(24);
    display: flex;
    justify-content: center;

    .text-block__title-text {
      border-bottom: 1px solid;
    }
  }

  .text-block__paragraph {
    .text_font_roboto-light();
    .text_em-size(15);
    .text_line-rem-size(20);
  }
}

@import "text-block_elem";
@import "text-block_mod";