.text-block.theme_emerald {
  .text-block__title-text {
    border-color: @emerald;
  }
}

.text-block.size_m {
  grid-gap: 20px;

  .text-block__title {
    .text_em-size(24);
  }
  .text-block__paragraph {
    .text_em-size(15);
    .text_line-rem-size(20);
  }
}

.text-block.title-align_center {
  .text-block__title {
    display: flex;
    justify-content: center;
  }
}