.about__image-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__image {
  height: 250px;
  width: 300px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.about__content-block {
  justify-items: flex-start;
}