.header__top {
  grid-template-columns: 200px 1fr 28px;
}

.header__navbar {
  display: none;
}

.header__btn-nav {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 15px;
  width: 28px;
  background-image: url("/style/style-image/navbut.png");
}

.header__logo-img {
  height: 40px;
}

.header__brand {
  .text_em-size(24);
}

.header__wrap {
  grid-gap: 50px;
  padding-bottom: 50px;
}
