

.team__list {
  display: grid;
}

.team__btn-hint {
   .text_font_roboto-light();
   .text_em-size(14);
   color: #fff;
}

.team__list::-webkit-scrollbar {
  height: 4px;
}

.team__list::-webkit-scrollbar-track {
  background-color: rgba(75, 58, 110, 0.2);
}

.team__list::-webkit-scrollbar-thumb {
  background-color: rgba(75, 58, 110, 0.5);
  border-radius: 2px;
}

.team__list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 58, 110, 0.9);
}