
.works__wrap-top {
  padding-top: 35px;
  padding-bottom: 35px;
  display: grid;
  justify-items: center;
  grid-gap: 15px;
}

.works__wrap-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
}






@import "works_elem";
@import "works_mod";