.project-carousel.theme_emerald {
  background-color: @dark-purple;

  .project-carousel__nav-arrow_left {
    background-image: url("/style/style-image/icon/white-arrow-left-icon.png");
  }

  .project-carousel__nav-arrow_right {
    background-image: url("/style/style-image/icon/white-arrow-right-icon.png");
  }

  .project-carousel__nav-item.active {
    background-color: @emerald;
  }
}