.about-video_theme_emrald {
  .create_overlay-background_settings(0.85, "/style/style-image/city.png");
  position: relative;
}

/*
.about-video_theme_emrald:after {
  content: "";
  .create_overlay_emerald(0.85, 10);
}
*/

.about-video_theme_emrald .about-video__btn-play {
  background-image: url("/style/style-image/play-btn-white.png");
}

.about-video_theme_emrald .about-video__hint-btn {
  color: #fff;
}