
.about-video__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-video__play-block {
  display: grid;
  grid-template-rows: 1fr 20px;
  justify-items: center;
}

.about-video__hint-btn {
  .text_font_roboto-black();
}