.about-video__container {
  position: absolute;
  .absolut_position_coords(0,0,0,0);
  z-index: 20;
}

.about-video__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-video__play-block {
  display: grid;
  grid-template-rows: 1fr 20px;
  justify-items: center;
  grid-gap: 30px;
}

.about-video__btn-play {
  width: 100px;
  height: 100px;
}

.about-video__hint-btn {
  .text_font_roboto-black();
  .text_em-size(16);
}