.navbar_theme_emerald {
  color: #fff;
  .text_font_roboto-medium();
  .text_em-size(14);
}

.navbar_theme_emerald > .navbar__item_active {
  color: @emerald;
  cursor: default;
}

.navbar_theme_emerald > .navbar__item:hover  {
  color: @emerald;
}

