.navbar_theme_emerald {
  color: #fff;
  .text_font_roboto-medium();
  .text_em-size(14);

  .navbar__item_active {
    color: @emerald;
    cursor: default;
  }

  .navbar__item:hover  {
    color: @emerald;
  }
}



