.work-tile__img {
  height: 220px;
  background-color: grey;
}

.work-tile__content {
  display: grid;
  padding: 15px;
  grid-gap: 15px;
}

.work-tile__name {
  .text_font_roboto-black();
  .text_em-size(12);
  padding-bottom: 4px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
}

.work-tile__desc {
  .text_font_roboto-light();
  .text_em-size(14);
  .text_line-rem-size(20);
  text-align: center;
  height: 80px;
  overflow-y: hidden;
}

.work-tile__link-block {
  display: flex;
  justify-content: flex-end;
}