.contact__user-mess-block {
  justify-items: center;
  grid-gap: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid @white-grey;
}

.contact__form {
  justify-items: center;
}

.contact__label {
  width: 100%;
}

.contact__client-col {
  justify-items: center;
  grid-gap: 35px;
}

.contact__client-list {
  grid-gap: 50px;
  grid-auto-rows: 70px;
  padding: 0 10px;
}