
.icon-text_theme_white {
  color: #fff;

  .icon-text__item_icon_handset:after {
    background-image: url("/style/style-image/icon/handset-icon.png");
  }

  .icon-text__item_icon_location:after {
    background-image: url("/style/style-image/icon/location-icon.png");
  }
}