.icon-text__item {
  position: relative;
  margin-left: 30px;
}

.icon-text__item:after {
  content: "";
  position: absolute;
  left: -30px;
  top: 1px;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}