.popup.theme_emerald .works-popup {

  .works-popup__title-block {
    color: white;
    background-color: @emerald;
  }

  .works-popup__nav-item {
    border-color: @emerald;
    color: @emerald;
  }
}