/**
Макрос для удобного задания координат абсолютно спозиционированных элементов
 */
.absolut_position_coords(@top, @right, @bottom, @left) {
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}
