.text_font_hammersmith() {
  font-family: 'HammersmithOne', sans-serif;
}

.text_font_roboto-thin() {
  font-family: 'Roboto_Thin', sans-serif;
}

.text_font_roboto-light() {
  font-family: 'Roboto_Light', sans-serif;
}

.text_font_roboto-regular() {
  font-family: 'Roboto_Regular', sans-serif;
}

.text_font_roboto-medium() {
  font-family: 'Roboto_Medium', sans-serif;
}

.text_font_roboto-bold() {
  font-family: 'Roboto_Bold', sans-serif;
}

.text_font_roboto-black() {
  font-family: 'Roboto_Black', sans-serif;
}

.text_font_playfair-regular() {
  font-family: 'PlayfairDisplay_Regular', serif;
}

.text_font_playfair-medium() {
  font-family: 'PlayfairDisplay_Medium', serif;
}

.text_font_playfair-semibold() {
  font-family: 'PlayfairDisplay_SemiBold', serif;
}

.text_font_playfair-bold() {
  font-family: 'PlayfairDisplay_Bold', serif;
}

.text_font_playfair-black() {
  font-family: 'PlayfairDisplay_Black', serif;
}