.text_size_12px() {
  font-size: 0.75em;
}

.text_size_14px() {
  font-size: 0.875em;
}

.text_size_16px() {
  font-size: 1em;
}

.text_size_18px() {
  font-size: 1.125em;
}

.text_size_20px() {
  font-size: 1.25em;
}

.text_size_22px() {
  font-size: 1.375em;
}

.text_size_24px() {
  font-size: 1.5em;
}

.text_size_30px() {
  font-size: 1.875em;
}

.text_size_32px() {
  font-size: 2em;
}

/**
.text_em-size - макрос для перевода размера текста из пикселей в относительный размер (def - 16px)
 */
.text_em-size(@pix) {
  font-size: @pix/16em;
}