

.works__list {
  grid-template-rows: 300px 300px;
}



.works__list::-webkit-scrollbar {
  height: 5px;
}


.works__item {
  //transition: transform .1s;
}

.works__item:after {
  transition: background-color .1s;
}

.works__item:hover:after {
  background-color: transparent;
}

/*
.works__item:hover {
  transform: scale(1.03);
  z-index: 2;
}*/
