

.nav-menu {
  display: grid;
  justify-items: center;
  grid-gap: 22px;
  position: relative;
}

.nav-menu:after {
  content: '';
  position: absolute;
  top: 0;
  right: -24px;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/style/style-image/icon/white-cross-icon.png");
  cursor: pointer;
}


@import "nav-menu_elem";
@import "nav-menu_mod";