.nav-menu__head {
  .text_font_roboto-regular();
  .text_em-size(38);
}

.nav-menu__separator {
  height: 2px;
  min-width: 260px;
}

.nav-menu__list {
  display: grid;
  justify-items: center;
  grid-gap: 15px;
}

.nav-menu__item {
  .text_font_roboto-light();
  .text_em-size(28);
  opacity: 0;
  cursor: pointer;
}