.nav-menu_theme_emerald {
  .nav-menu__head {
    color: white;
  }

  .nav-menu__item {
    color: white;
  }

  .nav-menu__item_active {
    color: @emerald;
  }

  .nav-menu__separator {
    background-color: @emerald;
  }
}