@import (reference) "../../../variables";

.widget-container {
  position: fixed;
  .absolut_position_coords(0,0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
}


@import "widget_elem";
@import "widget_mod";