@import (reference) "../../../variables";

.header_theme_classic {
  background: url("/style/style-image/background-image.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}

.header_theme_classic:after {
  content: "";
  background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  position: absolute;
  opacity: 0.850;
  .absolut_position_coords(0,0,0,0);
  z-index: 10;
}