.header__container {
  position: absolute;
  .absolut_position_coords(0,0,0,0);
  z-index: 20;
}

.header__wrap {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-gap: 100px;
  padding: 15px 0 70px;
  height: 100%;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-rows: 60px;
  grid-gap: 15px;
}

