.footer__top-section {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: flex-start;
}

.footer__brand-block {
  grid-gap: 20px;
  justify-items: flex-start;
}

.footer__section-title {
  height: 50px;
  display: flex;
  align-items: center;
}

.footer__about-text {
  .text_font_roboto-light();
  .text_em-size(14);
  .text_line-rem-size(24);
}

.footer__location-block {
  grid-gap: 20px;
  justify-items: flex-start;
}

.footer__share-block {
  grid-gap: 20px;
}

.footer__share-block-wrap {
  grid-gap: 30px;
}

.footer__mailing-submit {
  cursor: pointer;
}

.footer__bottom-section {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  grid-gap: 30px;
}

.footer__nav-item {
  cursor: pointer;
}