.footer_theme_emerald {
  color: #fff;
  .create_overlay-background_settings(0.85, '/style/style-image/background-image-4.png');

  .footer__mailing-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    .text_font_roboto-light();
    .text_em-size(14);
    color: rgba(255, 255, 255, 9);
  }



  .footer__mailing-input:focus {
    border-color: rgba(255, 255, 255, 0.75);

    + .footer__mailing-submit {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  .footer__mailing-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  .footer__mailing-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }

  .footer__mailing-submit {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("/style/style-image/icon/paper-icon.png");
  }

}