

.head-slider {
  display: grid;
  grid-gap: 30px;
  align-items: flex-start;
  grid-template-rows: 40px 1px 1fr 40px 14px;
  align-content: space-between;
}


@import "head-slider_elem";
@import "head-slider_mod";