.head-slider.theme_emerald {
    color: white;

  .head-slider__separator {
    background-color: @emerald;
  }

  .head-slider__nav-item {
    border-color: white;
  }

  .head-slider__nav-item.active {
    background-color: @emerald;
  }
}