.quote-slider_theme_white {

  .quote-slider__switch-block {
    color: #fff;
  }

  .quote-slider__nav-arrow_left {
    background-image: url("/style/style-image/icon/quote-arr-left-icon.png");
  }

  .quote-slider__nav-arrow_right {
    background-image: url("/style/style-image/icon/quote-arr-right-icon.png");
  }
}
