.quote-slider__switch-item {
  display: grid;
  justify-items: center;
}

.quote-slider__quote {
  .text_font_playfair-regular();
  text-align: center;
}

.quote-slider__quote {
  .text_em-size(16);
  line-height: 26px;
}

.quote-slider__name-block {
  display: grid;
  justify-items: center;
}

.quote-slider__name {
  .text_font_roboto-black();
  .text_em-size(14);
}

.quote-slider__post {
  .text_font_roboto-light();
  .text_em-size(12);
}

.quote-slider__nav {
  display: grid;
  grid-template-columns: 11px 1fr 11px;
  align-items: center;
}

.quote-slider__nav-list {
  overflow-x: hidden;
}

.quote-slider__nav-list-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.quote-slider__nav-item {
  border-radius: 50%;
  background-color: grey;
}
