.quote-slider__switch-block {
  position: relative;
  width: 100%;
}

.quote-slider__switch-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
  grid-gap: 40px;
  opacity: 0;
  transition: opacity .3s;
}

.quote-slider__switch-item.active {
  opacity: 1;
}

.quote-slider__quote {
  .text_font_playfair-regular();
  text-align: center;
}

.quote-slider__quote {
  .text_em-size(16);
  line-height: 26px;
}

.quote-slider__name-block {
  display: grid;
  justify-items: center;
}

.quote-slider__name {
  .text_font_roboto-black();
  .text_em-size(14);
}

.quote-slider__post {
  .text_font_roboto-light();
  .text_em-size(12);
}


