.footer__top-section {
  display: grid;
}

.footer__brand-block {
  display: grid;
}

.footer__location-block {
  display: grid;
}

.footer__about-text {
  .text_font_roboto-light();
  .text_em-size(14);
  .text_line-rem-size(24);
}

.footer__location-text {
  .text_font_roboto-light();
  .text_em-size(14);
  .text_line-rem-size(20);
}

.footer__share-block {
  display: grid;
}

.footer__share-block-wrap {
  display: grid;
}

.footer__mailing {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-gap: 10px;
  grid-template-rows: 45px;
}

.footer__mailing-input {
  outline: none;
  padding: 15px;
  .text_font_roboto-light();
  .text_em-size(14);
  transition: border-color .15s;
}

.footer__mailing-submit {
  border: none;
  outline: none;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-color .15s;
}

.footer__nav {
  .text_font_roboto-regular();
  .text_em-size(14);
  display: grid;
  grid-auto-flow: column;
}

.footer__copyright {
  .text_font_roboto-light();
  .text_em-size(14);
}
