.contact__user-mess-block {
  justify-items: center;
  grid-gap: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid @white-grey;
}

.contact__form {
  justify-items: center;
}

.contact__label {
  width: 100%;
}

.contact__submit-input {
  padding: 10px 40px;
}

.contact__client-col {
  justify-items: center;
  grid-gap: 50px;
}

.contact__client-list {
  grid-gap: 60px;
  grid-auto-rows: 70px;
  padding: 0 60px;
}