.contact__user-mess-block {
  display: grid;
}

.contact__form {
  width: 100%;
  display: grid;
  grid-gap: 22px;
}

.contact__label {
  width: 100%;
}

.contact__input {
  width: 100%;
  outline: none;
  padding: 13px 20px;
  .text_font_roboto-light();
  .text_em-size(14);
  transition: border-color .1s;
}

.contact__submit-input {
  outline: none;
  background-color: transparent;
}

.contact__client-col {
  display: grid;
}

.contact__client-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}