.inf-carousel__nav-arrow {
  width: 11px;
  height: 21px;
}

.inf-carousel__list {
  max-width: 310px;
}

.inf-carousel__item-container {
  grid-gap: 15px;
  height: 70px;
}

.inf-carousel__item {
  width: 45px;
  height: 45px;
}