.inf-carousel__nav-arrow {
  width: 11px;
  height: 21px;
}

.inf-carousel__list {
  max-width: 235px;
}

.inf-carousel__item-container {
  grid-gap: 10px;
  height: 55px;
}

.inf-carousel__item {
  width: 35px;
  height: 35px;
}