
.expertise__item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.expertise__item:last-child {
  border-bottom-width: 0;
}

.expertise__item {
  min-height: 250px;
  padding: 20px;
  grid-gap: 15px;
}

.expertise__item-icon {
  margin-bottom: 4px;
}