.slider_theme_emerald {
  color: #fff;
}

.slider_theme_emerald .slider__separator {
  background-color: @emerald;
}


.slider_theme_emerald .slider__nav-item {
  border-color: #fff;
}

.slider_theme_emerald .slider__nav-item:hover {
  background-color: @emerald;
}

.slider_theme_emerald .slider__nav-item_active {
  background-color: @emerald;
}



