
.quote-slider__switch-item {
  grid-gap: 35px;
}

.quote-slider__name-block {
  grid-gap: 6px;
}

.quote-slider__nav {
  grid-gap: 15px;
}

.quote-slider__nav-arrow {
  width: 11px;
  height: 21px;
}

.quote-slider__nav-list {
  max-width: 235px;
}

.quote-slider__nav-list-container {
  grid-gap: 10px;
}

.quote-slider__nav-item {
  width: 35px;
  height: 35px;
}