
.person-popup__img-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @dark-purple;
  height: 260px;
}

.person-popup__img-block::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @emerald;
  z-index: 2;
}

.person-popup__img-container::after {
  background-color: rgba(0,0,0,.3);
}

.person-popup__img {
  max-width: 100%;
  max-height: 260px;
  display: block;
}

.person-popup__name-block {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
}

.person-popup__name {
  color: white;
}

.person-popup__post {
  color: white;
}

.person-popup__text-block {
  padding: 0 20px;
}

.person-popup__title {
  display: none;
}