.expertise__content {
  display: grid;
}

.expertise__item {
  display: grid;
  justify-items: center;
}

.expertise__item-name {
  .text_em-size(14);
  .text_font_roboto-black();
  text-align: center;
}

.expertise__item-desc {
  .text_em-size(14);
  .text_font_roboto-light();
  text-align: center;
}

.expertise__item-icon {
  height: 50px;
  width: 50px;
}