.project-popup__head,
.project-popup__about {
  padding-left: 20px;
  padding-right: 20px;
}

.project-popup__head {
  height: 60px;
}

.project-popup__name-block {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}

.project-popup__name-dash {
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.project-popup__name {
  .text_font_playfair-regular();
}

.project-popup__about {
  grid-template-columns: 1fr 1px 300px;
}

.project-popup__text-section,
.project-popup__info-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-popup__section-title {
  .text_font_playfair-medium();
}

.project-popup__info-block {
  align-content: flex-start;
  grid-template-rows: auto 1px auto;
}

.project-popup__worker {
  cursor: pointer;
}


.project-popup__share-section {
  display: grid;
  grid-gap: 15px;
}