.project-popup__head,
.project-popup__about {
  padding-left: 20px;
  padding-right: 20px;
}

.project-popup__head {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.project-popup__name-dash {
  display: none;
}

.project-popup__name {
  .text_font_roboto-light();
}

.project-popup__about {
  grid-template-columns: auto;
  padding-bottom: 40px;
}

.project-popup__info-block {
  grid-template-rows: auto;
}

.project-popup__anchor {
  justify-self: flex-start;
}

.project-popup__hr {
  display: none;
}

.project-popup__text-section,
.project-popup__info-block {
  padding: 0;
}

.project-popup__worker-list {
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
}

.project-popup__share-section {
  justify-items: center;
}

.project-popup__social-share {
  justify-content: center;
}