.worker-rev__quotes-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/style/style-image/icon/quote-icon.png");
  height: 32px;
  width: 32px;
}