

.note-popup__title-container {
  display: grid;
  grid-auto-flow: column;
  justify-items: flex-start;
  align-items: center;
  grid-gap: 10px;
}

.note-popup__title-dash {
  width: 20px;
  height: 2px;
}

.note-popup__title {
  .text_font_playfair-bold();
  .text_em-size(22);
}

.note-popup__title-block {
  padding: 0 15px;
  height: 36px;
  min-width: 90px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-popup__title-block-text {
  .text_font_roboto-light();
  .text_em-size(22);
}