.note-popup__exit-cross {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 24px;
  height: 24px;
  background-image: url("/style/style-image/icon/emerald-cross-icon.png");
  cursor: pointer;
}

.note-popup__title-block {
  display: grid;
  grid-auto-flow: column;
  justify-items: flex-start;
  align-items: center;
  grid-gap: 10px;
}

.note-popup__title-dash {
  width: 20px;
  height: 2px;
}

.note-popup__title {
  .text_font_playfair-bold();
  .text_em-size(22);
}

.note-popup__text {
  .text_font_roboto-light();
  .text_em-size(15);
  .text_line-rem-size(20);
}
