@blocksPath: '../../blocks';
@stylePath: '../..';
@commonBlockPath: '@{blocksPath}/common.blocks';

@import (reference) "@{stylePath}/variables";

@import "@{commonBlockPath}/text/text";
@import "@{commonBlockPath}/about/about";
@import "@{commonBlockPath}/about-video/about-video";
@import "@{commonBlockPath}/contact/contact";
@import "@{commonBlockPath}/expertise/expertise";
@import "@{commonBlockPath}/footer/footer";
@import "@{commonBlockPath}/header/header";
@import "@{commonBlockPath}/team/team";
@import "@{commonBlockPath}/worker-rev/worker-rev";
@import "@{commonBlockPath}/works/works";
