/*
  size list(px to em):
    - 12px = 0.75em
    - 14px = 0.875em
    - 16px = 1em
    - 18px = 1.125em
    - 20px = 1.25em
    - 22px = 1.375em
    - 24px = 1.5em
    - 30px = 1.875em
    - 32px = 2em
*/
.text_size_12px {
  font-size: 0.75em;
}
.text_size_14px {
  font-size: 0.875em;
}
.text_size_16px {
  font-size: 1em;
}
.text_size_18px {
  font-size: 1.125em;
}
.text_size_20px {
  font-size: 1.25em;
}
.text_size_22px {
  font-size: 1.375em;
}
.text_size_24px {
  font-size: 1.5em;
}
.text_size_30px {
  font-size: 1.875em;
}
.text_size_32px {
  font-size: 2em;
}
.text_font_hammersmith {
  font-family: 'HammersmithOne', sans-serif;
}
.text_font_roboto-thin {
  font-family: 'Roboto_Thin', sans-serif;
}
.text_font_roboto-light {
  font-family: 'Roboto_Light', sans-serif;
}
.text_font_roboto-regular {
  font-family: 'Roboto_Regular', sans-serif;
}
.text_font_roboto-medium {
  font-family: 'Roboto_Medium', sans-serif;
}
.text_font_roboto-bold {
  font-family: 'Roboto_Bold', sans-serif;
}
.text_font_roboto-black {
  font-family: 'Roboto_Black', sans-serif;
}
.text_font_playfair-regular {
  font-family: 'PlayfairDisplay_Regular', serif;
}
.text_font_playfair-medium {
  font-family: 'PlayfairDisplay_Medium', serif;
}
.text_font_playfair-semibold {
  font-family: 'PlayfairDisplay_SemiBold', serif;
}
.text_font_playfair-bold {
  font-family: 'PlayfairDisplay_Bold', serif;
}
.text_font_playfair-black {
  font-family: 'PlayfairDisplay_Black', serif;
}
.header {
  height: 670px;
}
.header__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.header__wrap {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-gap: 100px;
  padding: 15px 0 70px;
}
.header__top {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr 650px;
  grid-template-rows: 60px;
  grid-gap: 15px;
}
.header__navbar {
  grid-column-start: 3;
  grid-column-end: 4;
}
.header_theme_classic {
  background: url("/style/style-image/background-image.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
.header_theme_classic:after {
  content: "";
  background-image: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  background-image: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  position: absolute;
  opacity: 0.85;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.logo-block {
  display: flex;
  align-items: center;
}
.logo-block__logo {
  height: 50px;
  margin-top: -4px;
}
.logo-block__brand {
  font-family: 'Roboto_Thin', sans-serif;
  font-size: 1.875em;
  margin-top: -4px;
  margin-left: 15px;
}
.logo-block_theme_emerald {
  color: #00c5c2;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px;
}
.navbar_theme_emerald {
  color: #fff;
  font-family: 'Roboto_Medium', sans-serif;
  font-size: 0.875em;
}
.navbar_theme_emerald > .navbar__item_active {
  color: #00c5c2;
}
.anchor {
  cursor: pointer;
  text-decoration: none;
}
.btn {
  cursor: pointer;
}
.btn_type_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_type_classic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HammersmithOne', sans-serif;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  border-radius: 2px;
  padding: 10px;
}
.btn_theme_classic-emerald {
  color: #00c5c2;
  border-color: #00c5c2;
  transition: background-color 0.1s, color 0.1s;
}
.btn_theme_classic-emerald:hover {
  background-color: #00c5c2;
  color: #fff;
}
.slider {
  display: grid;
  grid-template-rows: 1fr 12px;
  grid-gap: 30px;
  align-items: flex-start;
}
.slider__content {
  display: grid;
  grid-template-rows: 40px 1px 1fr 40px;
  grid-gap: 30px;
  justify-items: center;
}
.slider__title {
  font-family: 'PlayfairDisplay_Black', serif;
  font-size: 2em;
}
.slider__separator {
  width: 30px;
  height: 1px;
}
.slider__text {
  font-family: 'Roboto_Thin', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}
.slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__nav-item {
  height: 12px;
  width: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  margin: 0 5px;
  transition: background-color 0.1s ease, border-width 0.1s ease;
  cursor: pointer;
}
.slider__nav-item_active {
  border-width: 0;
  cursor: auto;
}
.slider__nav-item:hover {
  border-width: 0;
}
.slider_theme_emerald {
  color: #fff;
}
.slider_theme_emerald .slider__separator {
  background-color: #00c5c2;
}
.slider_theme_emerald .slider__nav-item {
  border-color: #fff;
}
.slider_theme_emerald .slider__nav-item:hover {
  background-color: #00c5c2;
}
.slider_theme_emerald .slider__nav-item_active {
  background-color: #00c5c2;
}
/*# sourceMappingURL=desktop.css.map */