.header__top {
  grid-template-columns: 1fr 1fr 10fr;
}
.header__btn-nav {
  display: none;
}
.header__navbar {
  grid-column-start: 3;
  grid-column-end: 4;
}
.head-slider__nav-item {
  transition: background-color 0.2s ease, border-width 0.2s ease;
}
.head-slider__nav-item:hover {
  border-width: 0;
}
.head-slider.theme_emerald .head-slider__nav-item:hover {
  background-color: #00c5c2;
}
.btn_type_classic {
  transition: background-color 0.1s, color 0.1s;
}
.btn.theme_emerald.btn_type_classic:hover {
  background-color: #00c5c2;
  color: #fff;
}
.navbar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: 50px;
  grid-gap: 10px;
  max-width: 700px;
}
.navbar__item {
  transition: color 0.1s;
}
.navbar_theme_emerald {
  color: #fff;
  font-family: 'Roboto_Medium', sans-serif;
  font-size: 0.875em;
}
.navbar_theme_emerald .navbar__item_active {
  color: #00c5c2;
  cursor: default;
}
.navbar_theme_emerald .navbar__item:hover {
  color: #00c5c2;
}
.about__wrap {
  grid-template-columns: minmax(300px, 380px) minmax(540px, 1fr);
  padding-top: 70px;
  padding-bottom: 70px;
  grid-gap: 20px;
}
.about__image-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about__image {
  height: 250px;
  width: 300px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.about__content-block {
  justify-items: flex-start;
}
.about.theme_white .about__image {
  background-image: url("/style/style-image/logo.png");
}
.about-video {
  height: 600px;
}
.about-video__play-block {
  grid-gap: 30px;
}
.about-video__btn-play {
  width: 100px;
  height: 100px;
}
.about-video__hint-btn {
  font-size: 1em;
}
.expertise__wrap {
  grid-gap: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.expertise__item {
  min-height: 250px;
  padding: 40px 40px;
  grid-gap: 20px;
}
.expertise__item-icon {
  margin-bottom: 10px;
}
.team__wrap-top {
  padding-top: 70px;
  padding-bottom: 50px;
}
.team__wrap-bottom {
  padding-top: 70px;
  padding-bottom: 70px;
  grid-gap: 25px;
}
.team__list {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}
.worker-tile {
  cursor: pointer;
}
.worker-tile:hover .worker-tile__image:after {
  background-color: transparent;
}
.worker-tile__image:after {
  transition: background-color 0.1s;
}
.works__wrap-top {
  padding: 70px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works__wrap-bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}
.works__list {
  grid-template-rows: 300px 300px;
}
.works__list::-webkit-scrollbar {
  height: 5px;
}
.works__item:after {
  transition: background-color 0.1s;
}
.works__item:hover:after {
  background-color: transparent;
}
/*
.works__item:hover {
  transform: scale(1.03);
  z-index: 2;
}*/
.quote-slider {
  grid-gap: 40px;
}
.quote-slider__switch-block {
  padding: 0 60px;
}
.quote-slider__name-block {
  grid-gap: 8px;
}
.inf-carousel {
  grid-gap: 30px;
}
.inf-carousel__nav-arrow {
  width: 11px;
  height: 21px;
}
.inf-carousel__list {
  max-width: 310px;
}
.inf-carousel__item-container {
  grid-gap: 15px;
  height: 70px;
}
.inf-carousel__item {
  width: 45px;
  height: 45px;
}
.inf-carousel__item.active {
  width: 70px;
  height: 70px;
}
.worker-rev__wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  grid-gap: 40px;
}
.contact__wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  align-items: flex-start;
}
.contact__user-mess-block {
  justify-items: flex-start;
  grid-gap: 35px;
}
.contact__form {
  justify-items: flex-start;
}
.contact__label {
  width: 100%;
}
.contact__client-col {
  justify-items: flex-start;
  grid-gap: 35px;
}
.contact__client-list {
  grid-gap: 50px;
  grid-auto-rows: 50px;
}
.footer__wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  grid-gap: 70px;
}
.footer__top-section {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: flex-start;
}
.footer__brand-block {
  grid-gap: 20px;
  justify-items: flex-start;
}
.footer__section-title {
  height: 50px;
  display: flex;
  align-items: center;
}
.footer__about-text {
  font-family: 'Roboto_Light', sans-serif;
  font-size: 0.875em;
  line-height: 1.5rem;
}
.footer__location-block {
  grid-gap: 20px;
  justify-items: flex-start;
}
.footer__share-block {
  grid-gap: 20px;
}
.footer__share-block-wrap {
  grid-gap: 30px;
}
.footer__mailing-submit {
  cursor: pointer;
}
.footer__bottom-section {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  grid-gap: 30px;
}
.footer__nav-item {
  cursor: pointer;
}
.popup {
  padding: 90px 0;
}
.person-popup {
  padding: 20px 20px 35px;
  grid-gap: 20px;
  grid-template-areas: "head head" "img text";
}
.person-popup__img-block {
  grid-area: img;
}
.person-popup__img-container::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.person-popup__img {
  display: block;
  width: 200px;
}
.person-popup__name-block {
  grid-area: head;
}
.person-popup__name {
  color: #413d4b;
}
.person-popup__post {
  color: #78777b;
}
.person-popup__text-block {
  grid-area: text;
}
.person-popup__title {
  margin-left: 20px;
}
.person-popup__title {
  font-family: 'Roboto_Regular', sans-serif;
  font-size: 1.5em;
  color: #413d4b;
  position: relative;
}
.person-popup__title::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: -20px;
  height: 2px;
  width: 10px;
  border-radius: 1px;
  background-color: #00c5c2;
}
.works-popup {
  grid-gap: 40px;
  padding: 20px;
}
.works-popup__nav-carousel {
  max-width: 350px;
}
.works-popup__nav-item {
  cursor: pointer;
}
.popup.theme_emerald .works-popup .works-popup__nav-item:hover {
  background-color: #00c5c2;
  color: white;
}
.project-popup__head,
.project-popup__about {
  padding-left: 20px;
  padding-right: 20px;
}
.project-popup__head {
  height: 60px;
}
.project-popup__name-block {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.project-popup__name-dash {
  width: 20px;
  height: 2px;
  border-radius: 1px;
}
.project-popup__name {
  font-family: 'PlayfairDisplay_Regular', serif;
}
.project-popup__about {
  grid-template-columns: 1fr 1px 300px;
}
.project-popup__text-section,
.project-popup__info-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-popup__section-title {
  font-family: 'PlayfairDisplay_Medium', serif;
}
.project-popup__info-block {
  align-content: flex-start;
  grid-template-rows: auto 1px auto;
}
.project-popup__worker {
  cursor: pointer;
}
.project-popup__share-section {
  display: grid;
  grid-gap: 15px;
}
.project-carousel {
  height: 500px;
  position: relative;
}
.project-carousel.theme_emerald .project-carousel__nav-item:hover {
  background-color: #00c5c2;
}
/*# sourceMappingURL=desktop.css.map */