/*
  size list(px to em):
    - 12px = 0.75em
    - 14px = 0.875em
    - 16px = 1em
    - 18px = 1.125em
    - 20px = 1.25em
    - 22px = 1.375em
    - 24px = 1.5em
    - 30px = 1.875em
    - 32px = 2em
*/
.text_size_12px {
  font-size: 0.75em;
}
.text_size_14px {
  font-size: 0.875em;
}
.text_size_16px {
  font-size: 1em;
}
.text_size_18px {
  font-size: 1.125em;
}
.text_size_20px {
  font-size: 1.25em;
}
.text_size_22px {
  font-size: 1.375em;
}
.text_size_24px {
  font-size: 1.5em;
}
.text_size_30px {
  font-size: 1.875em;
}
.text_size_32px {
  font-size: 2em;
}
.text_font_hammersmith {
  font-family: 'HammersmithOne', sans-serif;
}
.text_font_roboto-thin {
  font-family: 'Roboto_Thin', sans-serif;
}
.text_font_roboto-light {
  font-family: 'Roboto_Light', sans-serif;
}
.text_font_roboto-regular {
  font-family: 'Roboto_Regular', sans-serif;
}
.text_font_roboto-medium {
  font-family: 'Roboto_Medium', sans-serif;
}
.text_font_roboto-bold {
  font-family: 'Roboto_Bold', sans-serif;
}
.text_font_roboto-black {
  font-family: 'Roboto_Black', sans-serif;
}
.text_font_playfair-regular {
  font-family: 'PlayfairDisplay_Regular', serif;
}
.text_font_playfair-medium {
  font-family: 'PlayfairDisplay_Medium', serif;
}
.text_font_playfair-semibold {
  font-family: 'PlayfairDisplay_SemiBold', serif;
}
.text_font_playfair-bold {
  font-family: 'PlayfairDisplay_Bold', serif;
}
.text_font_playfair-black {
  font-family: 'PlayfairDisplay_Black', serif;
}
.about__wrap {
  display: grid;
}
.about__content-block {
  display: grid;
  grid-template-rows: minmax(22px, 30px) 1fr 40px;
  grid-gap: 26px;
}
.about__text {
  font-size: 0.9375em;
}
.about__image-block {
  display: none;
}
.about__content-block {
  justify-items: center;
}
.about_theme_white-emerald .about__text {
  font-family: 'Roboto_Light', sans-serif;
  color: #78777b;
}
.about-video__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-video__play-block {
  display: grid;
  grid-template-rows: 1fr 20px;
  justify-items: center;
}
.about-video__hint-btn {
  font-family: 'Roboto_Black', sans-serif;
}
.about-video_theme_emrald {
  background-image: -webkit-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/city.png");
  background-image: -moz-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/city.png");
  background-image: -ms-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/city.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.about-video_theme_emrald .about-video__btn-play {
  background-image: url("/style/style-image/play-btn-white.png");
}
.about-video_theme_emrald .about-video__hint-btn {
  color: #fff;
}
.expertise__wrap {
  display: grid;
}
.expertise__content {
  display: grid;
}
.expertise__item {
  display: grid;
  justify-items: center;
}
.expertise__item-name {
  font-size: 0.875em;
  font-family: 'Roboto_Black', sans-serif;
  text-align: center;
}
.expertise__item-desc {
  font-size: 0.875em;
  font-family: 'Roboto_Light', sans-serif;
  text-align: center;
}
.expertise__item-icon {
  height: 50px;
  width: 50px;
}
.expertise__item {
  border-color: #ebebeb;
}
.expertise__item-name {
  color: #413d4b;
}
.expertise__item-desc {
  color: #78777b;
}
.header {
  height: 670px;
}
.header__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.header__wrap {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-gap: 100px;
  padding: 15px 0 70px;
  height: 100%;
}
.header__top {
  display: grid;
  align-items: center;
  grid-template-rows: 60px;
  grid-gap: 15px;
}
.header_theme_emerald {
  background-image: -webkit-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/background-image.png");
  background-image: -moz-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/background-image.png");
  background-image: -ms-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url("/style/style-image/background-image.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
/*
.header_theme_emerald:after {
  content: "";
  .create_overlay_emerald(0.85, 10);
}*/
.team__wrap-top {
  display: grid;
  justify-items: center;
}
.team__wrap-bottom {
  display: grid;
  justify-items: center;
}
.team__list {
  display: grid;
}
.team__btn-hint {
  font-family: 'Roboto_Light', sans-serif;
  font-size: 0.875em;
  color: #fff;
}
.team_theme_emerald {
  background-image: -webkit-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url('/style/style-image/background-image-2.png');
  background-image: -moz-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url('/style/style-image/background-image-2.png');
  background-image: -ms-linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url('/style/style-image/background-image-2.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.logo-block {
  display: flex;
  align-items: center;
}
.logo-block__logo {
  height: 50px;
  margin-top: -4px;
}
.logo-block__brand {
  font-family: 'Roboto_Thin', sans-serif;
  font-size: 1.875em;
  margin-top: -4px;
  margin-left: 15px;
}
.logo-block_theme_emerald {
  color: #00c5c2;
}
.anchor {
  cursor: pointer;
  text-decoration: none;
}
.btn {
  cursor: pointer;
}
.btn_type_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_type_icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.btn_type_classic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HammersmithOne', sans-serif;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  border-radius: 2px;
  padding: 10px;
}
.btn_theme_classic-emerald {
  color: #00c5c2;
  border-color: #00c5c2;
}
.slider {
  display: grid;
  grid-template-rows: 1fr 12px;
  grid-gap: 30px;
  align-items: flex-start;
}
.slider__content {
  display: grid;
  grid-template-rows: 40px 1px 1fr 40px;
  grid-gap: 30px;
  justify-items: center;
}
.slider__title {
  font-family: 'PlayfairDisplay_Black', serif;
  font-size: 2em;
}
.slider__separator {
  width: 30px;
  height: 1px;
}
.slider__text {
  font-family: 'Roboto_Thin', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}
.slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__nav-item {
  height: 12px;
  width: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  margin: 0 5px;
  transition: background-color 0.1s ease, border-width 0.1s ease;
}
.slider__nav-item_active {
  border-width: 0;
  cursor: auto;
}
.slider_theme_emerald {
  color: #fff;
}
.slider_theme_emerald .slider__separator {
  background-color: #00c5c2;
}
.slider_theme_emerald .slider__nav-item {
  border-color: #fff;
}
.slider_theme_emerald .slider__nav-item_active {
  background-color: #00c5c2;
}
.widget-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.widget-container_hide {
  display: none;
}
.section-title__name {
  font-family: 'PlayfairDisplay_Bold', serif;
  text-align: center;
}
.section-title__hint {
  font-family: 'PlayfairDisplay_Regular', serif;
  text-align: center;
}
.section-title__separator {
  margin-top: 4px;
  height: 2px;
  width: 50px;
}
.section-title_theme_classic .section-title__name {
  color: #413d4b;
}
.section-title_theme_extend {
  display: grid;
  justify-items: center;
}
.section-title_theme_extend .section-title__name {
  color: #413d4b;
}
.section-title_theme_extend .section-title__hint {
  color: #78777b;
}
.section-title_theme_extend .section-title__separator {
  background-color: #a3a2a4;
}
.section-title_theme_extend-white {
  display: grid;
  justify-items: center;
}
.section-title_theme_extend-white .section-title__name {
  color: #fff;
}
.section-title_theme_extend-white .section-title__hint {
  color: #a3a2a4;
}
.section-title_theme_extend-white .section-title__separator {
  background-color: #655c80;
}
.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.worker-tile__image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
  position: relative;
}
.worker-tile__image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.worker-tile__info-block {
  display: grid;
  padding: 20px;
  justify-items: center;
  grid-gap: 8px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
.worker-tile__name {
  font-family: 'Roboto_Black', sans-serif;
  font-size: 0.875em;
}
.worker-tile__post {
  font-family: 'Roboto_Light', sans-serif;
  font-size: 0.8125em;
}
.worker-tile_theme_white .worker-tile__info-block {
  border-color: #fff;
}
.worker-tile_theme_white .worker-tile__name {
  color: #fff;
}
.worker-tile_theme_white .worker-tile__post {
  color: #ebebeb;
}
.page-wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=initial-build.css.map */