
@import (reference) "../../variables";


@import "../../blocks/common.blocks/text/text.less";
@import "../../blocks/common.blocks/about/about";
@import "../../blocks/common.blocks/about-video/about-video";
@import "../../blocks/common.blocks/contact/contact";
@import "../../blocks/common.blocks/expertise/expertise";
@import "../../blocks/common.blocks/footer/footer";
@import "../../blocks/common.blocks/header/header";
@import "../../blocks/common.blocks/team/team";
@import "../../blocks/common.blocks/worker-rev/worker-rev";
@import "../../blocks/common.blocks/works/works";
@import "../../blocks/common.blocks/logo-block/logo-block";
@import "../../blocks/common.blocks/anchor/anchor";
@import "../../blocks/common.blocks/btn/btn";
@import "../../blocks/common.blocks/head-slider/head-slider";
@import "../../blocks/common.blocks/popup/popup";
@import "../../blocks/common.blocks/section-title/section-title";
@import "../../blocks/common.blocks/icon/icon";
@import "../../blocks/common.blocks/worker-tile/worker-tile";
@import "../../blocks/common.blocks/quote-slider/quote-slider";
@import "../../blocks/common.blocks/inf-carousel/inf-carousel";
@import "../../blocks/common.blocks/icon-text/icon-text";
@import "../../blocks/common.blocks/social-share/social-share";
@import "../../blocks/common.blocks/nav-menu/nav-menu";
@import "../../blocks/common.blocks/note-popup/note-popup";
@import "../../blocks/common.blocks/text-block/text-block";
@import "../../blocks/common.blocks/person-popup/person-popup";
@import "../../blocks/common.blocks/works-popup/works-popup";
@import "../../blocks/common.blocks/work-tile/work-tile";
@import "../../blocks/common.blocks/project-popup/project-popup";
@import "../../blocks/common.blocks/project-carousel/project-carousel";


.page-wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}