.page-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  height: 500px;
}
.header__top {
  grid-template-columns: 200px 1fr 28px;
}
.header__navbar {
  display: none;
}
.header__btn-nav {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 15px;
  width: 28px;
  background-image: url("/style/style-image/icon/navbut-icon.png");
}
.header__logo-img {
  height: 40px;
}
.header__brand {
  font-size: 1.5em;
}
.header__wrap {
  grid-gap: 50px;
  padding-bottom: 50px;
}
.slider__title {
  font-size: 1.25em;
}
.slider__text {
  font-size: 0.875em;
}
.slider__content {
  grid-template-rows: 24px 1px 1fr 40px;
  grid-gap: 20px;
}
.about__wrap {
  grid-template-columns: 1fr;
  padding-top: 35px;
  padding-bottom: 35px;
}
.about-video {
  height: 350px;
}
.about-video__play-block {
  grid-gap: 20px;
}
.about-video__btn-play {
  width: 65px;
  height: 65px;
}
.about-video__hint-btn {
  font-size: 0.875em;
}
.section-title_type_extend {
  grid-gap: 15px;
}
.section-title_type_extend-white {
  grid-gap: 15px;
}
.expertise__wrap {
  grid-gap: 40px;
  padding-top: 35px;
  padding-bottom: 50px;
}
.expertise__item {
  min-height: 250px;
  padding: 20px;
  grid-gap: 15px;
}
.expertise__item-icon {
  margin-bottom: 4px;
}
.team__wrap-top {
  padding-top: 35px;
  padding-bottom: 35px;
}
.team__wrap-bottom {
  padding-top: 40px;
  padding-bottom: 50px;
  grid-gap: 25px;
}
.team__list {
  grid-auto-columns: 220px;
  grid-auto-flow: column;
  grid-gap: 20px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.works__wrap-top {
  padding-top: 35px;
  padding-bottom: 35px;
  display: grid;
  justify-items: center;
  grid-gap: 15px;
}
.works__wrap-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
}
.works__list {
  grid-template-rows: 220px 220px;
}
.quote-slider {
  grid-gap: 35px;
}
.quote-slider__switch-item {
  grid-gap: 35px;
}
.quote-slider__name-block {
  grid-gap: 6px;
}
.quote-slider__nav {
  grid-gap: 15px;
}
.quote-slider__nav-arrow {
  width: 11px;
  height: 21px;
}
.quote-slider__nav-list {
  max-width: 235px;
}
.quote-slider__nav-list-container {
  grid-gap: 10px;
}
.quote-slider__nav-item {
  width: 35px;
  height: 35px;
}
.quote-slider__nav-item_active {
  width: 55px;
  height: 55px;
}
.worker-rev__wrap {
  padding-top: 35px;
  padding-bottom: 40px;
  grid-gap: 35px;
}
.contact__wrap {
  padding-top: 35px;
  padding-bottom: 35px;
  grid-gap: 35px;
}
.contact__user-mess-block {
  justify-items: center;
  grid-gap: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #ebebeb;
}
.contact__form {
  justify-items: center;
}
.contact__label {
  width: 100%;
}
.contact__client-col {
  justify-items: center;
  grid-gap: 35px;
}
.contact__client-list {
  grid-gap: 50px;
  grid-auto-rows: 70px;
  padding: 0 10px;
}
.footer__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  grid-gap: 40px;
  justify-items: center;
}
.footer__top-section {
  grid-template-columns: 1fr;
  grid-gap: 40px;
  align-items: flex-start;
}
.footer__brand-block {
  grid-gap: 25px;
  justify-items: center;
}
.footer__about-text {
  text-align: center;
}
.footer__section-title {
  display: flex;
  align-items: center;
}
.footer__location-block {
  grid-gap: 15px;
  justify-items: center;
}
.footer__share-block {
  grid-gap: 15px;
  justify-items: center;
}
.footer__share-block-wrap {
  grid-gap: 20px;
}
.footer__bottom-section {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}
.footer__nav {
  grid-gap: 20px;
}
.popup {
  padding: 30px 10px;
}
.person-popup {
  grid-gap: 20px;
  grid-template-rows: 260px 1fr;
  padding-bottom: 35px;
}
.person-popup__img-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #413d4b;
  height: 260px;
}
.person-popup__img-container::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.person-popup__img {
  max-width: 100%;
  max-height: 260px;
  display: block;
}
.person-popup__name-block {
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 20px;
}
.person-popup__name {
  color: white;
}
.person-popup__post {
  color: white;
}
.person-popup__text-block {
  padding: 0 20px;
}
.person-popup__title {
  display: none;
}
.works-popup {
  grid-gap: 30px;
  padding: 15px 10px;
}
.works-popup__head {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}
.works-popup__nav {
  grid-gap: 15px;
}
.works-popup__nav-item-container {
  max-width: 230px;
}
/*# sourceMappingURL=mobile.css.map */