.section-title.theme_dark {
  .section-title__name {
    color: @dark-purple;
  }

  .section-title__hint {
    color: @grey;
  }

  .section-title__separator {
     background-color: @light-grey;
   }
}

.section-title.theme_white {
  .section-title__name {
    color: white;
  }

  .section-title__hint {
    color: @light-grey;
  }

  .section-title__separator {
    background-color: @mud-purple;
  }
}


.section-title_type_classic {
  .section-title__name {
    .text_font_playfair-bold();
    .text_em-size(22);
  }
}

.section-title_type_extend {
  .section-title_type_classic();
  display: grid;
  grid-gap: 15px;
  justify-items: center;

  .section-title__hint {
    .text_font_playfair-regular();
    .text_em-size(14);
  }
}

.section-title_type_small {
  .section-title__name {
    .text_font_roboto-black();
    .text_em-size(15);
  }
}