.section-title__name {
  .text_font_playfair-bold();
  text-align: center;
}

.section-title__hint {
  .text_font_playfair-regular();
  text-align: center;
}

.section-title__separator {
  margin-top: 4px;
  height: 2px;
  width: 50px;
}