.section-title_theme_classic {
  .section-title__name {
    color: @dark-purple;
  }
}



.section-title_theme_extend {
  display: grid;
  justify-items: center;

  .section-title__name {
    color: @dark-purple;
  }

  .section-title__hint {
    color: @grey;
  }

  .section-title__separator {
    background-color: @light-grey;
  }
}


.section-title_theme_extend-white {
  .section-title_theme_extend();

  .section-title__name {
    color: #fff;
  }

  .section-title__hint {
    color: @light-grey;
  }

  .section-title__separator {
    background-color: @mud-purple;
  }
}



