.section-title_theme_classic {
  .section-title__name {
    .text_font_playfair-bold();
    color: @dark-purple;
    .text_em-size(22);
  }

  .section-title__hint {
    .text_font_playfair-regular();
    .text_em-size(14);
  }
}

.section-title_theme_extend {
  .section-title_theme_classic();
  display: grid;
  grid-gap: 15px;
  justify-items: center;

  .section-title__hint {
    color: @grey;
  }

  .section-title__separator {
    background-color: @light-grey;
  }
}

.section-title_theme_extend-white {
  .section-title_theme_extend();

  .section-title__name {
    color: #fff;
  }

  .section-title__hint {
    color: @light-grey;
  }

  .section-title__separator {
    background-color: @mud-purple;
  }
}



.section-title_theme_small-white {

  .section-title__name {
    color: #fff;
    .text_font_roboto-black();
    .text_em-size(15);
  }
}