
.works__wrap-top {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works__wrap-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}





@import "works_elem";
@import "works_mod";