.popup.theme_emerald .project-popup {

  .project-popup__name-dash {
    background-color: @emerald;
  }

  .project-popup__name {
    color: @dark-purple;
  }

  .project-popup__hr {
    background-color: @light-grey;
  }

  .project-popup__section-title {
    color: @dark-purple;
  }

  .project-popup__text {
    color: @mud-purple;
  }

  .project-popup__worker-name {
    color: @dark-purple;
  }

  .project-popup__worker-post {
    color: @light-grey;
  }
}

.project-popup__section-title.size_m {
  .text_em-size(20);
}

.project-popup__section-title.size_s {
  .text_em-size(18);
}